body{
    font-family: sans-serif;
    background-color: aquamarine;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
    backgorund-color: blue;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


